
img {
  object-fit: contain;
}

.Stream {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

div {

}

.header {
  display: flex;
  background: #ff7380;
  align-items: center;
  color:white; 
  font-size: 2rem;
  justify-content: space-between;
  width: 100%; 
}

body{
  margin: 0;
  width: 100%;
}

.headerBtn{
  margin: 1rem;
  border: none;
  border-radius: 5rem;
}